/* CONFIGURAÇÃO DE VARIÁVEIS */
:root {

    /* VARIAVEIS DE CORES */

    --cor-preto-nav-bar: #000000;
    --cor-preto-fundo: #0f0f0f;

    --cor-fonte-branca: white;
    --cor-fonte-amarela: #FFA239;

    /* VARIAVEIS DE FONTES */

    --fonte-nav-bar: monospace, sans-serif;
    --fonte-peso-baixo: 300;
    --fonte-peso-leve: 400;
    --fonte-peso-medio: 600;
}


/* RESET CSS */
* {
    margin: 0px;
    padding: 0px;
}

body {
    color: white;
}

/* CSS DO HEADER */

.cabecalho {
    display: flex;
    padding: 2rem 2.5rem;
    justify-content: space-between;
    background-color: var(--cor-preto-nav-bar);

    font-family: var(--fonte-nav-bar);
}

.cabecalho__esquerda {
    display: flex;
    align-items: center;
}

.logo {
    color: white;
    padding: 0px 3rem 0px 0rem;
}

.icone__logo {
    height: 2.5rem;
}

.cabecalho__botao__home {
    font-size: 1.8rem;
    text-decoration: none;
    color: var(--cor-fonte-branca);
}

.cabecalho__botao__home:hover {
    color: var(--cor-fonte-amarela);
}

.cabecalho__itens {
    padding-right: 2.5rem;
    color: var(--cor-fonte-branca);
}

.cabecalho__item {
    font-size: 1.5em;
    padding: 0.8rem;
    align-items: right;
    color: var(--cor-fonte-branca);
    text-decoration: none;
    font-family: var(--fonte-nav-bar);
}

.cabecalho__item:hover {
    color: var(--cor-fonte-amarela);
}

.cabecalho__item__divisao {
    text-decoration: none;
    color: var(--cor-fonte-amarela);
}

.divisoria {
    color: #0f0f0f;
    background-color: #0f0f0f;
    padding: 2px;
    font-size: 0px;
}

/* CSS FOOTER */

.rodape__texto {
    font-family: var(--fonte-nav-bar);
    font-weight: var(--fonte-peso-baixo);
    font-size: 2rem;
    color: var(--cor-fonte-branca);
    background-color: black;
    text-align: center;
    font-style: italic;
    padding: 1rem;
}


/* CSS SEÇÃO EM CARTAZ */

body {
    background-color: var(--cor-fonte-amarela);
}

.cartazFilme__box__geral {
    display: flex;
}

.cartazFilme {
    background-color: var(--cor-fonte-branca);
    margin: 1.5rem 10rem;
    padding: 2.5rem;
    border-radius: 1.5rem;
}

.cartazFilme__box {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.cartazFilme__imagem {
    height: 500px;
    border-radius: 1.5rem;
    height: 500px;
    width: 354px;
}

.cartazFilme__icone {
    width: 24px;
    height: px;
}

.cartazFilme__nome {
    padding-top: 1rem;
    color: var(--cor-preto-fundo);
    font-size: 1rem;
    font-family: var(--fonte-nav-bar);
    font-weight: var(--fonte-peso-leve);
}

.indicacao {
    padding: 0.3rem;
    color: white;
    background-color: black;
    border: solid 1px;
    border-radius: 0.5rem;
}

.cartazFilme__ingresso {
    text-decoration: none;
    padding: 0.5rem;
    margin: 1.5rem 1rem 0rem 1rem;
    color: var(--cor-preto-fundo);
    font-size: 1.2rem;
    font-style: italic;
    font-family: var(--fonte-nav-bar);
    font-weight: var(--fonte-peso-leve);
    border: solid 1px;
    border-radius: 0.5rem;
    background-color: #e5e5e5;
    text-align: center;
}

.cartazFilme__ingresso:hover {
    background-color: var(--cor-fonte-amarela);
}

.cartazFilme__titulo {
    padding: 1rem 10rem 1rem 5rem;
    color: var(--cor-preto-fundo);
    font-size: 2rem;
    font-family: var(--fonte-nav-bar);
    font-weight: var(--fonte-peso-leve);
    font-style: italic;
}

.cartazFilme__texto {
    padding: 0rem 3rem 3rem 5rem;
    color: var(--cor-preto-fundo);
    font-size: 1.2rem;
    font-family: var(--fonte-nav-bar);
    font-weight: var(--fonte-peso-leve);
    text-align: justify;
    font-style: italic;
    font-weight: var(--fonte-peso-baixo);
}

.cartazFilme__trailer {
    padding: 1rem 10rem 1rem 10rem;
    width: 50rem;
    height: 30rem;
    text-align: center;
}